<html>
    <head>
        <title>Axnet IoT Temperature</title>
    </head>
    <body>
        <h3>Axnet IoT Temperature API</h3>
        <br /><br />
        Please use the following urls:
        <br />
        <br />
        <a href="http://192.168.80.134:5000/recent_temps">Display ten temps (HTML Formatted)</a>
        <br />
        <a href="http://192.168.80.134:5000/get_one_temp_api">Get one temp: (JSON)</a>
        <br />
        <a href="http://192.168.80.134:5000/get_ten_temps_api">Get ten temps: (JSON) </a>
    </body>
</html>